@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

.logo {
  height: 10rem;
  margin-left: 6rem;
}

.container-hero {
  max-width: 111.6rem;
  margin: 0 auto;
}

.hero-section {
  background-image: url("../src/assets/hero/hero.png");
  width: 100%;
  height: 110vh;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

.hero-text {
  top: 55%;
  right: 12px;
  transform: translate(-50%, -50%);
}

.hero-h1,
.hero-p {
  text-shadow: 4px 3px 0px #292929;
}

.hero-p {
  color: #ffffff;
}

.hero-h1 {
  color: #fff603;
}

 .about-section{
  background-image: url("../src/assets/about-us/background.png");
  width: 100%;
  height: 110vh;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  }
.card-item-div-0:hover, .card-item-div-1:hover, .card-item-div-2:hover, .card-item-div-3:hover {
  background-position: center center;
  object-fit: cover;
}

.card-item-div-0:hover {
  background-image: url('../src/assets/about-us/info-card-1.jpg');
}
.card-item-div-1:hover {
  background-image: url('../src/assets/about-us/info-card-2.jpg');
}
.card-item-div-2:hover {
  background-image: url('../src/assets/about-us/info-card-3.jpg');
}
.card-item-div-3:hover {
  background-image: url('../src/assets/about-us/info-card-4.jpg');
}


.container {
  max-width: 124rem;
  margin: 0 auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.basketball {
  width: 51%;
  height: auto;
  top: 23.7%;
  right: 25%;
  transform: translate(50%, -50%);
  position: absolute;
}
