@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- custom scrollbar ---- */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #fff603;
  border-radius: 50px;
}

/* --- reset styles --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

/* --- basic style --- */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* --- start css --- */
.container {
  max-width: 124rem;
  margin: 0 auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container-hero {
  max-width: 111.6rem;
  margin: 0 auto;
}

.hero-section {
  width: 100%;
  height: 110vh;
  background-image: url("../src/assets/hero/hero.png");
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

.hero-text {
  top: 55%;
  right: 12px;
  transform: translate(-50%, -50%);
}

.hero-h1,
.hero-p {
  text-shadow: 4px 3px 0px #292929;
}

.hero-p {
  color: #ffffff;
}

.hero-h1 {
  color: #fff603;
}

.btn-shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.about-section {
  background-image: url("../src/assets/about-us/background.png");
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

.basketball-man {
  width: 51%;
  height: auto;
  top: 23.7%;
  right: 25%;
  transform: translate(50%, -50%);
  position: absolute;
}

.class-h2 {
  text-shadow: 4px 3px 0px #141414;
}

.class-banner {
  background-image: url("../src/assets/class/class-banner.png");
  width: 100%;
  height: 21rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.box-bg-classes,
.yoga-bg-classes,
.crossfit-bg-classes,
.basketball-bg-classes,
.workout-bg-classes,
.runner-bg-classes,
.aerobic-bg-classes,
.mma-bg-classes,
.stretching-bg-classes {
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.box-bg-classes {
  background-image: url("../src/assets/class/class1.png");
}

.yoga-bg-classes {
  background-image: url("../src/assets/class/class2.png");
}

.crossfit-bg-classes {
  background-image: url("../src/assets/class/class3.png");
}

.basketball-bg-classes {
  background-image: url("../src/assets/class/class4.png");
}

.workout-bg-classes {
  background-image: url("../src/assets/class/class5.png");
}

.runner-bg-classes {
  background-image: url("../src/assets/class/class6.png");
}

.aerobic-bg-classes {
  background-image: url("../src/assets/class/class7.png");
}

.mma-bg-classes {
  background-image: url("../src/assets/class/class8.png");
}

.stretching-bg-classes {
  background-image: url("../src/assets/class/class9.png");
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  max-width: 120rem;
}

.grid-image {
  width: 100%;
  height: 100%;
}

.grid-image:nth-child(1) {
  grid-column: span 2;
}

.grid-image:nth-child(2) {
  grid-column: span 2;
}

.grid-image-1 {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: ease 0.5s;
}

.grid-image-1:hover {
  filter: grayscale(0%);
}

.whychooseus {
  background-image: url("../src/assets/whychooseus/whychoose-bg.png");
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  padding-left: 6rem;
  padding-right: 6rem;
}

.image-border {
  box-shadow: rgb(251, 255, 0, 0.7) 5px 5px, rgba(255, 238, 0, 0.3) 10px 10px,
    rgba(255, 238, 0, 0.2) 15px 15px, rgba(255, 208, 1, 0.1) 20px 20px,
    rgba(255, 255, 255, 0.05) 25px 25px;
}

.trainer-section {
  background-image: url("../src/assets/trainers/dot-bg.png");
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.trainer-info {
  max-width: 61rem;
  margin: 0 auto;
}

.card-trainer-1 {
  box-shadow: rgb(251, 255, 0) -5px 5px, rgba(255, 238, 0, 0.3) -10px 10px,
    rgba(255, 238, 0, 0.2) -15px 15px, rgba(255, 208, 1, 0.1) -20px 20px,
    rgba(255, 255, 255, 0.05) -25px 25px;
}

.card-trainer-2 {
  box-shadow: rgb(251, 255, 0) 0px 5px, rgba(255, 238, 0, 0.3) 0px 10px,
    rgba(255, 238, 0, 0.2) 0px 15px, rgba(255, 208, 1, 0.1) 0px 20px,
    rgba(255, 255, 255, 0.05) 0px 25px;
}

.card-trainer-3 {
  box-shadow: rgb(251, 255, 0) 5px 5px, rgba(255, 238, 0, 0.3) 10px 10px,
    rgba(255, 238, 0, 0.2) 15px 15px, rgba(255, 208, 1, 0.1) 20px 20px,
    rgba(255, 255, 255, 0.05) 25px 25px;
}

.bmi-section {
  background-image: url("../src/assets/BMI/bmi-banner.png");
  object-fit: cover;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.container-bmi {
  width: 100%;
}

.prices-border {
  box-shadow: rgba(50, 50, 93, 0.25) 10px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.start-banner-section {
  background-image: url("../src/assets/StarterBanner/bg.png");
  object-fit: cover;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container-start-banner {
  width: 100%;
}

.login-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.select-button{
  background:#fcec18;
  color: black;
}

.footer-section {
  background-image: url("../src/assets/footer/footer-bg.png");
}
