@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

.logo {
  height: 10rem;
  margin-left: 6rem;
}

.container-hero {
  max-width: 111.6rem;
  margin: 0 auto;
}

.hero-section {
  background-image: url("../src/assets/hero/hero.png");
  width: 100%;
  height: 110vh;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

.hero-text {
  top: 55%;
  right: 12px;
  transform: translate(-50%, -50%);
}

.hero-h1,
.hero-p {
  text-shadow: 4px 3px 0px #292929;
}

.hero-p {
  color: #ffffff;
}

.hero-h1 {
  color: #fff603;
}

.btn-shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
 .about-section{
  background-image: url("../src/assets/about-us/background.png");
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  }
  
.card-item-div-0:hover, .card-item-div-1:hover, .card-item-div-2:hover, .card-item-div-3:hover {
  background-position: center center;
  object-fit: cover;
}

.card-item-div-0:hover {
  background-image: url('../src/assets/about-us/info-card-1.jpg');
}
.card-item-div-1:hover {
  background-image: url('../src/assets/about-us/info-card-2.jpg');
}
.card-item-div-2:hover {
  background-image: url('../src/assets/about-us/info-card-3.jpg');
}
.card-item-div-3:hover {
  background-image: url('../src/assets/about-us/info-card-4.jpg');
}


.container {
  max-width: 124rem;
  margin: 0 auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.basketball-man {
  width: 51%;
  height: auto;
  top: 23.7%;
  right: 25%;
  transform: translate(50%, -50%);
  position: absolute;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  max-width: 101rem;
}

.grid-image:nth-child(1){
  grid-column: span 2;
}

.grid-image:nth-child(2){
  grid-column: span 2;
}

.grid-image-1,
.grid-image-2,
.grid-image-3,
.grid-image-4,
.grid-image-5,
.grid-image-6 {
  filter: grayscale(100%);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: ease 0.5s;
}

.grid-image-1:hover,
.grid-image-2:hover,
.grid-image-3:hover,
.grid-image-4:hover,
.grid-image-5:hover,
.grid-image-6:hover {
  filter: grayscale(0%);
}

.class-h2 {
  text-shadow: 4px 3px 0px #141414;
}

.class-banner{
  background-image: url("../src/assets/class/class-banner.png");
  width: 100%;
  height: 21rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}